@model ALittleBigBlog.ViewModels.AboutViewModel
@{
    ViewBag.Title = "About";
    ViewBag.PageImage = "/img/header1.jpg";
}

<h1>
    About page!
</h1>

<div class="post-preview">
    <a href="post.html">
        <h2 class="post-title">
            Man must explore, and this is exploration at its greatest
        </h2>
        <h3 class="post-subtitle">
            Problems look mighty small from 150 miles up :: @ViewBag.Content
        </h3>
    </a>
    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
</div>
<hr>

<form>
    <label asp-for="Name"></label>
    <label asp-for="Address"></label>
</form>