@{
  var ctrl = (string)ViewContext.RouteData.Values["controller"];
  var action = (string)ViewContext.RouteData.Values["action"];
  var isCurrent = new Func<string, string, string>
    ((c, a) =>
    {
    if ((string.IsNullOrWhiteSpace(a) && c == ctrl) || (c == ctrl && a == action)) return "active";
    return "";
    });
}

    <li class="nav-item"><a class="nav-link @isCurrent(" Main", "Index" )" asp-controller="Main" asp-action="Index">Home</a></li>
    <li class="nav-item"><a class="nav-link @isCurrent(" Main", "About" )" asp-controller="Main" asp-action="About">About</a></li>
